<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="setExamQuestionDAO">
	
	<!-- 2019.07.09 성재민 -->
	<!-- select 수정 -->
	<insert id="insertSetExamQuestion" parameterType="SetExamQuestionVO">
		INSERT INTO SET_EXAM_QUESTION(	
				SET_EXAM_QUESTION_ID
				,QUESTION_ID
				,EXAM_ID
				,POINT 
			)
		VALUES(	
				SET_EXAM_QUESTION_ID_SEQ.NEXTVAL
				,#{questionId}
				,#{examId}
				,#{point} 
			)
	</insert>
	
	<!-- 2019.07.09 성재민 -->
	<!-- 수정 추가 -->
	<update id="updateSetExamQuestion" parameterType="SetExamQuestionVO">
		UPDATE SET_EXAM_QUESTION
		<set>
				QUESTION_ID	= #{questionId}
			,	EXAM_ID		= #{examId}
			,	POINT 		= #{point}
		</set>
		<where>
			SET_EXAM_QUESTION_ID = #{setExamQuestionId}
		</where>
	</update>
	
	<!-- 2019.07.09 성재민 -->
	<!-- 삭제 추가 -->
	<delete id="deleteSetExamQuestion" parameterType="SetExamQuestionVO">
		DELETE FROM SET_EXAM_QUESTION
		<where>
			SET_EXAM_QUESTION_ID = #{setExamQuestionId}
		</where>
	</delete>
	
	<!-- 2019.07.16 성재민 -->
	<!-- 시험 ID 로 여러건 삭제 추가 -->
	<delete id="deleteSetExamQuestionForExamId" parameterType="SetExamQuestionVO">
		DELETE FROM SET_EXAM_QUESTION
		<where>
			EXAM_ID = #{examId}
		</where>
	</delete>
	
	<!-- 2019.07.09 성재민 -->
	<!-- 단건 조회 -->
	<select id="getSetExamQuestion" resultType="SetExamQuestionVO">
		SELECT 	
			EXAM_ID					"examId"
			,QUESTION_ID			"questionId"
			,SET_EXAM_QUESTION_ID	"setExamQuestionId"
			,POINT
		FROM SET_EXAM_QUESTION
		<where>
			SET_EXAM_QUESTION_ID = #{setExamQuestionId}
		</where>
	</select>
	
	<!-- 2019.07.15 성재민 -->
	<!-- 여러건 조회 -->
	<select id="getSetExamQuestionListForExamId" resultType="SetExamQuestionVO">
		SELECT 	
			EXAM_ID					"examId"
			,QUESTION_ID			"questionId"
			,SET_EXAM_QUESTION_ID	"setExamQuestionId"
			,POINT
		FROM SET_EXAM_QUESTION
		<where>
			EXAM_ID = #{examId}
		</where>
	</select>
	
	<!-- 2019.07.09 성재민 -->
	<!-- DESC를 ASC 로 변경 -->
	<!-- 관리자용 출제 리스트 -->
	<select id="getSetExamQuestionList" resultType="SetExamQuestionVO">
		SELECT 	
			EXAM_ID					"examId"
			,QUESTION_ID			"questionId"
			,SET_EXAM_QUESTION_ID	"setExamQuestionId"
			,POINT
		FROM SET_EXAM_QUESTION
		ORDER BY SET_EXAM_QUESTION_ID ASC
	</select>
	
	<select id="getQuestionList" parameterType="ExamVO" resultType="map">
		<![CDATA[
		SELECT * FROM (
			SELECT 
					E.EXAM_ID			"examId"
				, 	ES.CATEGORY_ID		"categoryId"
				, 	Q.QUESTION_ID		"questionId"
			FROM EXAM E
			JOIN ESTIMATE ES
			ON E.ESTIMATE_ID = ES.ESTIMATE_ID
			JOIN QUESTION Q
			ON Q.CATEGORY_ID = ES.CATEGORY_ID
			WHERE E.EXAM_ID = #{examId}
			ORDER BY SYS.DBMS_RANDOM.RANDOM
		)
		WHERE ROWNUM <= #{questionQuantity}
		]]>
	</select>
</mapper>

